@mixin gradient($first, $second) {
  background-color: $first;
  background: -moz-linear-gradient(top, $first 0%, $second 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%,$second));
  background: -webkit-linear-gradient(top,  $first 0%,$second 100%);
  background: -o-linear-gradient(top,  $first 0%,$second 100%);
  background: -ms-linear-gradient(top,  $first 0%,$second 100%);
  background: linear-gradient(to bottom,  $first 0%,$second 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first', endColorstr='$second',GradientType=0 );
}

@mixin trans($property: all, $time: 1s, $effect: ease, $delay: 0) {
  -moz-transition: $property $time $effect $delay;
  -webkit-transition: $property $time $effect $delay;
  -ms-transition: $property $time $effect $delay;
  -o-transition: $property $time $effect $delay;
  transition: $property $time $effect $delay;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}